@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* THEME VARIABLES
*
* Foreground: text
* foreground-primary: text
* foreground-secondary: headers
*/

/* darkmode */
:root {
  /* wikipedia ---------------- */
  --background: 270 6% 7%;
  --background-secondary: 270 6% 7%;
  --foreground: 260 5% 62%;
  --foreground-secondary: 220, 13%, 91%;

  --surface: ;
  --surface-secondary: ;

  --accent: 258 90% 66%;
  --accent-foreground: 258 90% 66%;

  --border: 217, 19%, 27%;
  --border-secondary: ;

  --shadow-sm: ;
  --shadow-md: ;
  --shadow-lg: ;
  --shadow-xl: ;

  /* expo ----------------------- */
  /* --background: 200, 7%, 9%;
    --background-secondary: ;
    --foreground: 207, 6%, 63%;
    --foreground-secondary: 210, 6%, 93%;
  
    --surface: 195, 7%, 11%;
    --surface-secondary: ;
  
    --accent: 258 90% 66%;
    --accent-foreground: ;
  
    --border: 202, 6%, 24%;
    --border-secondary: ;
  
    --icon: ;
    --icon-secondary: ;
  
    --shadow-sm: ;
    --shadow-md: ;
    --shadow-lg: ;
    --shadow-xl: ; */
}

.light {
  --background: 0 0% 98%;
  --background-secondary: 270 6% 7%;
  --foreground: 220 9% 46%;
  --foreground-secondary: 224, 71%, 4%;

  --surface: ;
  --surface-secondary: ;

  --primary: ;
  --primary-foreground: ;
  --secondary: ;
  --secondary-foreground: ;

  --accent: 258 90% 66%;
  --accent-foreground: 258 90% 66%;
  --border: 220, 13%, 91%;
  --border-secondary: ;

  --shadow-sm: ;
  --shadow-md: ;
  --shadow-lg: ;
  --shadow-xl: ;
}

/* darkmode 2: wikipedia inspired */
.darkmode-2 {
  --background: 0, 0%, 13%;
  --background-secondary: ;
  --foreground: 0, 0%, 64%;
  --foreground-secondary: 0, 0%, 98%;

  --surface: 220, 7%, 16%;
  --surface-secondary: ;

  --accent: ;
  --accent-foreground: ;

  --border: 0, 0%, 26%;
  --border-secondary: ;

  --icon: ;
  --icon-secondary: 0, 0%, 74%;

  --shadow-sm: ;
  --shadow-md: ;
  --shadow-lg: ;
  --shadow-xl: ;
}

/* expo inspired */
.darkmode-3 {
  --background: 200, 7%, 9%;
  --background-secondary: ;
  --foreground: 207, 6%, 63%;
  --foreground-secondary: 210, 6%, 93%;

  --surface: 195, 7%, 11%;
  --surface-secondary: ;

  --accent: ;
  --accent-foreground: ;

  --border: 202, 6%, 24%;
  --border-secondary: ;

  --icon: ;
  --icon-secondary: ;

  --shadow-sm: ;
  --shadow-md: ;
  --shadow-lg: ;
  --shadow-xl: ;
}

/* 
* GLOBAL CLASSES
*/
.container-4xl {
  @apply max-w-4xl mx-auto;
}

.social-link-icon {
  @apply hover:fill-accent hover:stroke-accent;
}

.hero-images {
  scrollbar-width: none; /*Firefox*/
}

.hero-images::-webkit-scrollbar {
  display: none; /*chrome and safari*/
}
