.sheet-link {
    @apply p-2 flex items-center gap-2 hover:bg-accent/90 hover:text-white rounded-md transition-colors delay-100
}

.active::after {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 999px;
    background-color: hsl(var(--accent));
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.size-md {
    width: 18px
}

.size-lg {
    width: 24px
}